//-------------------------------------------------------
//- Modules :: Business Partner
//-------------------------------------------------------

mixin business-partner()
  .section.business-partner.wow.fadeInLeft
    h3.section__title Business Partner
    .business-partner__inner
      ul.business-partner__list.unstyled.js-business-partner
        li.business-partner__item
          img(src='images/partner-1.png', alt='img')
        li.business-partner__item
          img(src='images/partner-2.png', alt='img')
        li.business-partner__item
          img(src='images/partner-3.png', alt='img')
        li.business-partner__item
          img(src='images/partner-4.png', alt='img')
        li.business-partner__item
          img(src='images/partner-5.png', alt='img')
        li.business-partner__item
          img(src='images/partner-6.png', alt='img')
        li.business-partner__item
          img(src='images/partner-1.png', alt='img')
        li.business-partner__item
          img(src='images/partner-1.png', alt='img')
