//-------------------------------------------------------
//- Modules :: Footer
//-------------------------------------------------------

mixin footer()
  .footer
    .footer__inner
      .row.footer__row
        .col-12.col-md-5
          .footer__detail
            .footer__logo
              img(src='images/logo.png', alt='logo')
              sup
                | vietnam
            .footer__info
              h5.footer__subtitle Contact
              p 011-212-1971
              p Contact
            .footer__info
              h5.footer__subtitle Address
              p 011-212-1971
              p Tầng 1, Tòa nhà công nghệ AC, lô A1A, cụm sản xuất TTCN và CNN quận Cầu Giấy , Phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội, Vietnam
        .col-12.col-md-3
          .footer__column
            h3.footer__title Category
            ul.footer__list
              li.footer__item
                a.footer__link(href='#') About us
              li.footer__item
                a.footer__link(href='#') Recruiment
              li.footer__item
                a.footer__link(href='#') Web system
              li.footer__item
                a.footer__link(href='#') Smartphone
              li.footer__item
                a.footer__link(href='#') CEO's message
        .col-12.col-md-3
          .footer__column
            h3.footer__title Business Partner
            ul.footer__list
              li.footer__item
                a.footer__link(href='#') Company A
              li.footer__item
                a.footer__link(href='#') Asfdfdg .co,ltd
              li.footer__item
                a.footer__link(href='#') Company B
              li.footer__item
                a.footer__link(href='#') Company Cdxx
              li.footer__item
                a.footer__link(href='#') Company sdfdsv
      .row.footer__container
        .col-12
          .footer__copyright
            p © 2019 impl vietnam inc
