//-------------------------------------------------------
//- Modules :: Forms
//-------------------------------------------------------

mixin input-field({ type, placeholder, value })
  input.form-customize(
    type = type ? type : 'text'
    placeholder = placeholder ? placeholder : null
    value = value ? value : null
  )&attributes(attributes)

mixin textarea({ placeholder, value })
  textarea.form-customize(
    placeholder = placeholder ? placeholder : null
  )&attributes(attributes)= value

mixin checkbox({ name, id, label})
  .checkbox
    label.checkbox__label
      input.checkbox__input(type='checkbox', name= name, id= id, disabled = disabled)
      span.checkbox__checkmark= label
