//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header()
  .header
    .header__logo
      img(src='images/logo.png', alt='logo')
    .header__menu.menu.d-none.d-lg-block
      ul.menu__list
        li.menu__item
          a.menu__link.active(href='#') Home
        li.menu__item
          a.menu__link(href='#') About us
        li.menu__item
          a.menu__link(href='#') Service
        li.menu__item
          a.menu__link(href='#') Company
        li.menu__item
          a.menu__link(href='#') Recruitment
    .header__info.side-right.d-none.d-lg-block
      .side-right__list
        .side-right__item
          span 011-212-1971
          span info@impl.vn
        .side-right__item
          a.side-right__btn(href='#')
            img.side-right__icon-email(src='images/icon-email.svg')
            span Contact
        .side-right__item
          span.side-right__language.active VN
          span.side-right__language EN
    .header__menumb.menumb.d-block.d-lg-none
      span.menumb__icon
        img(src='images/icon-menu.png', alt='menu')
