//-------------------------------------------------------
//- Modules :: Our Company
//-------------------------------------------------------

mixin our-company()
  .section.our-company
      .container.our-company__inner.wow.fadeInLeft
        .our-company__wrapper
          .our-company__content
            .our-company__box
              h3.our-company__title Our Company
              .our-company__row
                h5.our-company__name Name company
                p.our-company__info インプルベトナム
                p.our-company__info CÔNG TY TNHH IMPL VIỆT NAM
              .our-company__row
                h5.our-company__name Capital
                p.our-company__info 1,150,000,000 VND
              .our-company__row
                h5.our-company__name Address
                p.our-company__info Tầng 1, Tòa nhà công nghệ AC, lô A1A, cụm sản xuất TTCN và CNN quận Cầu Giấy , Phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội, Vietnam
              .our-company__row
                h5.our-company__name Officer
                p.our-company__info 代表取締役　YUJI　NISHIJIMA（株式会社インプル代表取締役）
                p.our-company__info 取締役　NGUYEN TUAN ANH （株式会社NAL 代表取締役）
              .our-company__row
                h5.our-company__name Relate Company
                p.our-company__info 株式会社インプル（http://www.impl.co.jp）
                p.our-company__info 株式会社ネクストエス（http://www.nextes.co.jp）
              .our-company__images
                ul.our-company__list
                  li.our-company__item
                    img(src='http://i.pravatar.cc/80x80', alt='img')
                  li.our-company__item
                    img(src='http://i.pravatar.cc/80x80', alt='img')
                  li.our-company__item
                    img(src='http://i.pravatar.cc/80x80', alt='img')
                  li.our-company__item
                    span.our-company__plus +
