//-------------------------------------------------------
//- Modules :: Our Service
//-------------------------------------------------------

mixin our-service()
  .section.our-service(data-aos='flip-up')
    .our-service__inner
      h3.section__title.wow.bounceInDown Our Service
      .our-service__content.wow.bounceInUp(data-wow-delay='0.5s')
        p.section__des
          | "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"
        .our-service__images.box-service
          .box-service__content.box-service__content--1.wow.fadeInLeft
            .box-service__transform
              .box-service__bg.box-service__bg--black
                h4.box-service__title Web
            img(src='images/service-1.png', alt='service3')
          .box-service__content.box-service__content--2.wow.fadeInLeft
            .box-service__transform
              .box-service__bg.box-service__bg--white
                h4.box-service__title Android
            img(src='images/service-2.png', alt='service2')
          .box-service__content.box-service__content--3.wow.fadeInLeft
            .box-service__transform
              .box-service__bg.box-service__bg--black
                h4.box-service__title Smartphone
            img(src='images/service-3.png', alt='service3')
          .box-service__content.box-service__content--4.wow.fadeInLeft
            .box-service__transform
              .box-service__bg.box-service__bg--white
                h4.box-service__title Ui/Ux
            img(src='images/service-1.png', alt='service4')
          .box-service__content.box-service__content--5.wow.fadeInLeft
            .box-service__transform
              .box-service__bg.box-service__bg--black
                h4.box-service__title Cloud
            img(src='images/service-3.png', alt='service5')
        .our-service__info
          .our-service__list.js-our-service
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item
                h4.our-service__title Web System
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item
                h4.our-service__title Smartphone
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item
                h4.our-service__title Android
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item
                h4.our-service__title Web System
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item.wow.fadeInLeft
                h4.our-service__title Smartphone
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
            .our-service__box.wow.fadeInLeft
              .our-service__imagemb
                img(src='images/service-1.png', alt='service')
              .our-service__item
                h4.our-service__title Android
                p.our-service__text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
