//-------------------------------------------------------
//- Modules :: Static images
//-------------------------------------------------------

mixin static-images()
  .section.static-images
    .static-images__inner
      ul.static-images__list.js-static-images
        li.static-images__item
          img(src='images/intro-2.png', alt='img')
        li.static-images__item
          img(src='images/intro-3.png', alt='img')
        li.static-images__item
          img(src='images/intro-2.png', alt='img')
        li.static-images__item
          img(src='images/intro-3.png', alt='img')
        li.static-images__item
          img(src='images/intro-2.png', alt='img')
        li.static-images__item
          img(src='images/intro-4.png', alt='img')
        li.static-images__item
          img(src='images/intro-4.png', alt='img')
        li.static-images__item
          img(src='images/intro-4.png', alt='img')
        li.static-images__item
          img(src='images/intro-4.png', alt='img')
        li.static-images__item
          img(src='images/intro-4.png', alt='img')
