//-------------------------------------------------------
//- Modules :: Why we
//-------------------------------------------------------

mixin why-we()
  .section.why-we
    .why-we__inner
      h3.section__title.wow.bounceInDown Why we are here
      .why-we__content
        p.section__des.wow.bounceInUp(data-wow-delay='0.5s')
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"
        .why-we__info
          .why-we__slide
            .why-we__list.js-why-we-box
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-dollar.svg', alt='cost')
                  h4.why-we__title Cost
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-rocket.svg', alt='speed')
                  h4.why-we__title Speed
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-diamond.svg', alt='quality')
                  h4.why-we__title Quality
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-dollar.svg', alt='cost')
                  h4.why-we__title Cost
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-rocket.svg', alt='speed')
                  h4.why-we__title Speed
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              .why-we__box.wow.fadeInLeft
                .why-we__item
                  .why-we__icon
                    span.why-we__icon-wrapper
                      img(src='images/icon-diamond.svg', alt='quality')
                  h4.why-we__title Quality
                  p.why-we__text
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
