// ======================================================
// Layout :: Content
// ======================================================

.section {
  &__title {
    color: $gray;
    font-size: $font-size-large + 8;
    font-weight: $font-weight-bold;
    margin-bottom: 70px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:before,
    &:after {
      background-color: $green;
      border-radius: $border-radius-small + 1;
      content: '';
      display: inline-block;
      height: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }

    &:before {
      margin-left: -80px;
    }

    &:after {
      margin-left: 40px;
    }
  }

  &__des {
    color: $gray;
    font-size: $font-size-medium;
    text-align: center;
    word-break: break-word;
    max-width: 630px;
    padding: 0 15px;
    margin: 0 auto;
  }

  @include breakpoint-down(phone) {
    &__title {
      margin-bottom: 40px;

      &:before,
      &:after {
        width: 30px;
      }

      &:before {
        margin-left: -50px;
      }
    }
  }
}
