// ======================================================
// Layout :: Footer
// ======================================================

.footer {
  margin-top: 50px;

  &__row {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;

    @include breakpoint-down(phone) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__logo {
    margin-bottom: 35px;
  }

  &__info {
    color: $gray;
    font-size: $font-size-base;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    margin-top: 35px;
  }

  &__title {
    color: $green-dark;
    font-size: $font-size-large + 2;
    font-weight: $font-weight-bold;
    margin-bottom: 35px;
  }

  &__item {
    display: block;
    margin-bottom: 8px;
    transition: all .3s ease;

    &:hover {
      .footer__link {
        color: $green-dark;
      }
    }
  }

  &__link {
    color: $gray;
    display: block;
    font-size: $font-size-base;
  }

  &__container {
    align-items: center;
    background-color: $grey-light;
    height: 44px;
    margin-top: 60px;
  }

  &__copyright {
    margin: 0 auto;
    max-width: 1030px;

    @include breakpoint-down(phone) {
      max-width: 100%;
      padding: 0 15px;
      width: 100%;
    }

    p {
      color: $gray-lightest;
      font-size: $font-size-base;
      word-break: break-word;
    }
  }

  @include breakpoint-down(phone) {
    &__title {
      margin: 35px 0;
    }

    &__container {
      margin-top: 0;
    }

    &__copyright {
      padding: 0 15px;
    }
  }
}
