// ======================================================
// Pages :: Blog
// ======================================================

.banner-category {
  position: relative;

  &__box {
    background: url('../images/banner-category.png') no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 390px;
    position: relative;
    width: 100%;

    @include breakpoint-down(phone) {
      background-size: cover;
    }
  }

  &__title {
    color: $white;
    font-size: 36px;
    font-weight: $font-weight-medium;
    left: 18%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }
}

.blog {
  background-color: $grey-light;
  padding: 65px 15px 75px;

  @include breakpoint-down(phone) {
    padding: 40px 15px;
  }

  &__inner {
    color: $gray;
    margin: 0 auto;
    max-width: 1030px;
  }

  &__title {
    font-size: $font-size-large + 6;
    font-weight: $font-weight-medium;
    margin-bottom: 30px;
  }

  &__des {
    font-size: $font-size-large + 4;
    line-height: 28px;
  }

  &__info {
    align-items: center;
    display: flex;
    margin-top: 45px;
    width: 100%;

    @include breakpoint-down(phone) {
      flex-direction: column;
      margin-top: 30px;
    }

    &-image {
      height: 245px;
      flex: 0 0 360px;
      margin-right: 43px;
      width: 360px;

      @include breakpoint-down(phone) {
        flex: 1 1 auto;
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;

        &:hover {
          opacity: .75;
        }
      }
    }

    &-title {
      font-size: $font-size-large + 4;
      font-weight: $font-weight-medium;
      margin-bottom: 35px;
      word-break: break-word;

      @include breakpoint-down(phone) {
        margin-bottom: 10px;
      }
    }

    &-text {
      font-size: $font-size-large;
      line-height: 30px;
      word-break: break-word;
    }

    &-note {
      margin-top: 100px;

      @include breakpoint-down(phone) {
        margin-top: 30px;
      }

      p {
        font-size: $font-size-large;
        line-height: 23px;
        word-break: break-word;
      }
    }
  }
}
