.cv {
  padding-top: 120px;
  margin-bottom: 80px;
}

.cv__head {
  margin: 0 auto 90px;
  text-align: center;
}

@media (min-width: 992px) {
  .cv__head {
    max-width: 50%;
  }
}

.cv__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cv__item {
  position: relative;
  margin-bottom: 60px;
}

.cv__item-title {
  font-size: 18px;
  font-weight: 600;
}

.cv__item-recently {
  color: #556270;
  font-size: 14px;
  margin-top: 3px;
}

.cv__item-badge {
  border-radius: 4px;
  background-color: #1c9bf1;
  position: absolute;
  left: -5px;
  bottom: 15px;
  padding: 0 20px;
  height: 34px;
  line-height: 34px;
  z-index: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.cv__item:hover .cv__overlay {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  visibility: visible;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.cv__item--primary .cv__img {
  overflow: unset;
}

.cv__item--primary .cv__img-inner {
  overflow: hidden;
}

.cv__img {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  height: 0;
  padding-bottom: 136%;
}

.cv__img > a {
  display: block;
}

.cv__img > a img {
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.cv__overlay {
  position: absolute;
  background-color: #28333e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.cv__overlay .btn {
  font-size: 14px;
  text-transform: uppercase;
  min-width: 165px;
  font-weight: 600;
  padding: 12px;
}

.cv__overlay .btn.btn-outline-primary {
  border-width: 2px;
}

.cv__overlay .btn + .btn {
  margin-top: 15px;
}

.cv-tab:after {
  display: block;
  content: '';
  clear: both;
}

.cv-tab:before {
  display: block;
  content: '';
  clear: both;
}

.cv-tab-nav {
  background: #f5f5f5;
  padding-top: 30px;
}

.cv-tab-nav .nav-item:not(:last-child) {
  margin-right: 40px;
}

.cv-tab-nav .nav-item .nav-link {
  padding: 20px 0;
  color: #505564;
}

.cv-tab-nav .nav-item .nav-link.active {
  color: #1c9bf1;
  background: unset;
  border: none;
  border-bottom: 3px solid;
}

.cv-tab-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

.cv.bg-orange {
  color: #fff;
}

.cv-management .cv__item {
  margin-bottom: 40px;
}

.cv-management .cv__img {
  margin-bottom: 20px;
}

.cv-btn {
  cursor: pointer;
}

.cv-btn__inner {
  border-width: 2px;
  border-color: #c1c1c1;
  border-style: dashed;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  height: 0;
  padding-bottom: calc(136% - 4px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.cv-btn__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.cv-btn__content-inner {
  max-width: 80%;
}

.cv-btn__content i {
  display: inline-block;
  color: #e1e1e1;
  font-size: 30px;
  margin-bottom: 20px;
}

.cv-btn__content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cv-btn__content p {
  font-size: 14px;
}

.cv-btn--create .cv-btn__inner {
  border-color: #1c9bf1;
}

.cv-btn--create .cv-btn__content i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  color: #fff;
  background: #1c9bf1;
}

.cv-btn--create .cv-btn__content h4 {
  color: #1c9bf1;
}

.cv-btn:hover .cv-btn__inner {
  border-color: #1c9bf1;
}

.cv-btn:hover .cv-btn__content h4 {
  color: #1c9bf1;
}

.cv-btn:hover .cv-btn__content i:not(.icon-fonts--expand) {
  color: #1c9bf1;
}

.cv-form .modal__title {
  margin-bottom: 15px;
}

.cv-form .modal__body {
  width: 470px;
  max-width: 100%;
  margin: 0 auto;
}

.cv-form .form-control {
  text-align: center;
}

.cv-form .form-control::-webkit-input-placeholder {
  color: #556270;
}

.cv-form .form-control::-moz-placeholder {
  color: #556270;
}

.cv-form .form-control:-ms-input-placeholder {
  color: #556270;
}

.cv-form .form-control::-ms-input-placeholder {
  color: #556270;
}

.cv-form .form-control::placeholder {
  color: #556270;
}

.cv-form__upload {
  width: 100%;
  min-height: 210px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #e1e1e1;
  cursor: pointer;
}

.cv-form__upload-inner {
  margin-top: 20px;
}

.cv-form__upload i {
  display: inline-block;
  color: #e1e1e1;
  font-size: 30px;
  margin-bottom: 20px;
}

.cv-form__upload h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cv-form__upload p {
  font-size: 14px;
}

.cv-form__btn-text {
  color: #505564;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.cv-form--success .cv-form__upload i {
  color: #7aaf4b;
}

.cv-form--success .cv-form__upload h4 {
  color: #7aaf4b;
}

.cv-form--fail .cv-form__upload {
  border-color: #f25151;
}

.cv-form--fail .cv-form__upload h4 {
  color: #f25151;
}

.cv-form--missing-name .form-group:first-child label {
  color: #f25151;
}

.cv-form--missing-name .form-group:first-child .form-control {
  border-color: #f25151;
}

.cv-form--missing-name .cv-form__upload i {
  color: #1c9bf1;
}

.cv-form--missing-name .cv-form__upload h4 {
  color: #1c9bf1;
}

.cv-form--missing .form-group:first-child .form-control {
  border-color: #f25151;
}

.cv-form--missing .cv-form__upload {
  border-color: #f25151;
}

.cv-form--confirm .modal__info {
  margin: 0 -25px;
}

.cv-form--confirm .modal__des {
  font-size: 14px;
}

.cv-form--apply-no-cv .modal__info {
  margin: 0 -25px;
}

[class*='cv-form--apply'] .modal__des {
  color: #505564;
}

.modal__btn .button + .btn {
  margin-top: 15px;
}

.modal__btn .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 99px;
  position: relative;
  color: #00a3f7;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 25px 10px;
}

.modal__btn .btn + .btn {
  margin-top: 15px;
}

.modal__btn .btn i {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__btn .btn:hover {
  color: #fff;
}

.modal__btn .icon-fonts--upload-1 {
  font-size: 21px;
}

.modal__btn .icon-fonts--expand {
  font-size: 14px;
}

/*# sourceMappingURL=cv.css.map */
