extends layout/_page-default

block head
  +head('Blog')

block main
  .main
    .main-body
      block banner-category
        .banner-category
          .banner-category__box
            h3.banner-category__title Message From Group Ceo
      block content-blog
        .blog
          .blog__inner
            h4.blog__title What is IMPL VN?
            p.blog__des
              | IMPL VIETNAM LIMITED COPORATION (IMPL VN) is found on 06/2019 in Hanoi by IMPL Corp (IMPL JP) that is IT company in Japan.
            .blog__info
              .blog__info-image
                img(src='../images/img-blog.png')
              .blog__info-content
                h5.blog__info-title Our goals
                p.blog__info-text
                  | We believe the technology makes the world better. So we finally aim to develop products and services using the latest technologies for changing our lives. For example, Facebook, Airbnb, or Grab. They are made by not a lot of but a few engineers, not much money but their passion. We simply think we do the same thing in the future.
            .blog__info.blog__info--full
              .blog__info-content
                h5.blog__info-title Road to the goals
                p.blog__info-text
                  | Real great products and service need enough time and engineers. Airbnb needed 5 years and 100+ engineers all over the world for their success. So we plan the 3 steps for the future. The 1st step, we will have much more engineers by our hard recruiting. The 2st step, we will get many offshore projects. Specifically 100 engineers and 20 projects in 1 year. The 3rd step, we try to start small projects of ourselves. The each project has a small team of 1-3 members. It launch the new product in 6 months. We make a small team and its project, so we can try many times and apply the PDCA. This is the only way that the startups can survive and get success.
            .blog__info-note.text-right
              p
                | August, 2019
                br
                | Yuji Nishijima
                br
                | President and Group CEO
