extends layout/_page-default

block head
  +head('Home')

block main
  .main
    .main-body
      block banner
        +banner()
      block why-we
        +why-we()
      block our-service
        +our-service()
      block our-company
        +our-company()
      block business-partner
        +business-partner()
      block contact-us
        +contact-us()
      block static-images
        +static-images()
